.experience {
    padding: 100px 60px;



}

.experience.dark {
    background-color: #1B2431;
    color: white !important;
}

.experience h5 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #0C96E2;
    width: 100%;

}

.experience h2 {
    width: 100%;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    color: #1B2431;
    margin-top: 20px !important;
    margin-bottom: 100px !important;

}

.experience.dark h2 {
    color: white;
}

.experience_card_container {
    display: flex;
    flex-wrap: wrap;

}

.experience_card_container .experience_card:nth-child(3),
.experience_card_container .experience_card:nth-child(4) {
    padding-bottom: 0px;
}



@media screen and (max-width:992px) {
    .experience_card_container {
        flex-direction: column;
    }

    .experience_card {
        width: 100%;
    }
    .experience_card_container .experience_card:nth-child(3) {
    padding-bottom: 50px;
}

.experience_card.education {
    padding-bottom: 50px !important;
    height: max-content;
}
.experience_card.education:last-child {
    padding-bottom: 0px !important;
    height: max-content;
}
}

@media screen and (max-width:600px) {
    .experience {
        padding: 100px 20px;
        padding-right: 0px;
    }
}